:root{
    --main-color1: #1E2122;
    --main-color2: #171819;
    --main-color3: #081015;
    --main-color4: #C4CED3;
    --main-color5: #CCD1D3;

    --second-color1: #36332F;
    --second-color2: #272523;
    --second-color3: #21180D;
    --second-color4: #D7D0C7;
    --second-color5: #D7D4D0;
}