.dayInfo{
    align-self: center;
    /*position: fixed;*/
    /*height: 100%;*/
    display: none;
    border-radius: 15px;
    background: #333333;
}

.dayInfo.active {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
    min-height: 100vh;
}

.dayLabel{
    align-self: center;
    color: #CCCCCC;
    font-weight: bolder;
    font-size: 42px;
}

.dayInfoContent{
    border-radius: 15px;
    flex-grow: 0.8;
    padding: 25px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.eventPanel{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 20px;
}

.eventInfo{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 50px;

    align-items: center;
    border-radius: 16px;
    background: #666666;
    color: #CCCCCC;
    min-height: 8vh;
    font-size: 24px;

}

.buttonsPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.closeButton{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 50px;

    align-items: center;
    border-radius: 16px;
    background: #666633;
    color: #CCCCCC;
    min-height: 8vh;

    font-size: 30px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.eventDoneCheckbox{
    width: 40px;
    height: 40px;
}

.eventRemoveButton{
    background-color: red;
    width: 40px;
    height: 40px;
}